<nb-layout center>
  <nb-layout-header>Awesome Company</nb-layout-header>
  <nb-layout-column class="colored-column-basic">

    <nb-card>
      <nb-card-body>

        <button nbButton outline status="primary" (click)="addEmp()">הוסף לקוח</button>
        <nb-layout-header *ngIf="showAdd" class="colored-column-warning" style="background: lightblue;">
          <input type="text" [(ngModel)]="custName" nbInput placeholder="שם">
          <input type="text"  [(ngModel)]="custSize" nbInput placeholder="גודל" >
          <input type="text"  [(ngModel)]="custKind" nbInput placeholder="מספר עובדים">
          <input type="text"  [(ngModel)]="custItem" nbInput placeholder="סוג לקוח" >
        </nb-layout-header>
        <label class="search-label" for="search">Search:</label>
        <input nbInput [nbFilterInput]="dataSource" id="search" class="search-input">

        <table [nbTreeGrid]="dataSource" [nbSort]="dataSource" (sort)="updateSort($event)">

          <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
          <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns"></tr>

          <ng-container [nbTreeGridColumnDef]="customColumn">
            <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(customColumn)" *nbTreeGridHeaderCellDef>
              {{customColumn}}
            </th>
            <td nbTreeGridCell *nbTreeGridCellDef="let row">
              <nb-fs-icon [kind]="row.data.kind" [expanded]="row.expanded"></nb-fs-icon>
              {{row.data[customColumn]}}
            </td>
          </ng-container>

          <ng-container *ngFor="let column of defaultColumns; let index = index"
                        [nbTreeGridColumnDef]="column"
                        [showOn]="getShowOn(index)">
            <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(column)" *nbTreeGridHeaderCellDef>
              {{column}}
            </th>
            <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data[column] || '-'}}</td>
          </ng-container>

        </table>

      </nb-card-body>
    </nb-card>



  </nb-layout-column>
  <nb-layout-footer>Contact us</nb-layout-footer>
</nb-layout>
